.container {
    width: 90%;
    margin: 0 auto;
}

.navbar {
    position: fixed;
    width: 100%;
    padding: 25px 0;
    z-index: 10;
    transition: all 200ms ease-in-out;
}

.nav_container {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    color: rgb(33, 150, 243);
    font-size: 1.25rem;
}

.nav_rigth {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav_rigth a {
    margin-left: 25px;
}

.logo {
    width: 70px;
    transition: all 200ms ease-in-out;
}

/* --- Animation for Navigation --- */
.animeNav {
    padding: 10px 0;
    background-color: rgb(56, 182, 240);
}

.animeNav a, .animeNav .dropdown button {
    color: white;
}

.animeNav .drop-content a {
    color: black;
}

.animeNav .nav_container {
    height: 40px;
}

.animeNav .logo {
    width: 50px;
}
